.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
*.tsbuildinfo
.vscode-test-web
test-data
.vsix
package-lock.json
node_modules
client/node_modules
client/package.json
client/package-lock.json
client/src
server/node_modules
server/package.json
server/package-lock.json
server/src
*~
.env
temp_*
*.tsbuildinfo
.vscode-test-web
test-data
../Lawtext
eslint.config.mjs
